[package]
authors = ["Syed Insaf <syedinsaf68@gmail.com>"]
description = "Extract partitions from Android OTA files"
categories = ["command-line-utilities"]
edition = "2021"
keywords = ["android", "cli", "terminal"]
license = "MIT"
name = "otaripper"
repository = "https://github.com/syedinsaf/otarip"
readme = "README.md"
rust-version = "1.82.0"
version = "1.1.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.93"
bzip2 = "0.4.4"
chrono = "0.4.38"
clap = { version = "4.5.21", features = ["derive"] }
color-print = "0.3.7"
console = { version = "0.15.8", features = ["windows-console-colors"] }
hex = "0.4.3"
indicatif = "0.17.9"
memmap2 = "0.9.5"
nom = "7.1.3"
nom-derive = "0.10.1"
prost = "0.13.3"
rayon = "1.10.0"
lzma-rs = "0.3.0"
xz2 = { version = "0.1", features = ["static"] }
sha2 = "0.11.0-pre.4"
sync-unsafe-cell = "0.1.1"
tempfile = "3.14.0"
zip = { version = "2.2.1", features = [
    "deflate",
    "bzip2",
    "zstd",
], default-features = false }


[build-dependencies]
prost-build = "0.13.3"

[profile.release]
codegen-units = 1
debug = 0
lto = true
strip = true
